.container1{
  background-color: lightblue;
  height: 200px;
  width: 200px;
}
.container2{
  background-color: lightcoral;
  height: 200px;
  width: 200px;
  position: relative;
}
.header{
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px ;
}
.side-bar{
  background-color: green;
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 50px;
  width: 72px;
}
.absolute-cont{
  position: absolute;
  background-color: red;
  color: white;
  right: 5px;
  top: 80px ;
}
.absolute-conti{
  position: absolute;
  background-color: red;
  color: white;
  right: 0px;
  top: 0px ;
}
.absolute-contin{
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 10px;
}
body{
  height: 3000px;
  padding-top: 50px;
  padding-left: 76px;
}