.container{
  background-color: rgb(70, 69, 69);
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.install{
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.request{
  font-family: Arial;
  font-size: 12px;
  width: 270px;
  color: rgb(197, 188, 188);
}