.roboto{
  font-size: 25px;
  font-weight: bold;
  font-family: roboto;
}
.playwrite{
  font-size: 25px;
  font-family: Playwrite CO Guides;
}
.merri{
  font-size: 25px;
  font-family: Merriweather;
}