.thumbnails{
  width: 300px;
  display: block;
}
.search-bar{
  display:block;
  margin-bottom: 10px;
}
.video-title{
  width: 300px;
}
.profile-pic{
  border-radius: 100px;

}
.video-preview{
  vertical-align: top;
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}